.panel,
body {
    overflow: hidden
}

#main,
body,
html {
    height: 100%
}

#menuToggle input,
.accordion,
.ant,
.card,
.citati,
.gumb:hover {
    cursor: pointer
}

body {
    color: #3a404d;
    background: #f8f9fb
}

.accordion {
    background-color: #eee;
    color: #444;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: 0;
    font-size: 18px;
    transition: .4s
}

.accordion:hover,
.active2 {
    background-color: #ccc
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: 700;
    float: right;
    margin-left: 5px
}

.active2:after {
    content: "\2212"
}

.panel {
    padding: 0 18px;
    max-height: 0;
    transition: max-height .2s ease-out;
    background: #ede5e5;
    margin-bottom: 10px
}

.card,
.form-control {
    background: #FFF;
    border-radius: 5px
}

#main {
    overflow-y: auto
}

.card,
.site-content {
    overflow: hidden
}

.py-4 {
    padding-bottom: 4rem;
    display: flex
}

.mb-6 {
    margin-bottom: 6rem
}

.form-control {
    box-shadow: none;
    padding: 13px 10px;
    height: 50px;
    color: #3a404d;
    border-color: #DFE2E8;
    transition: border-color .5s ease-out
}

.form-control.input-focus,
.form-control:focus {
    box-shadow: none!important;
    border-color: #2b98eb
}

.form-control.crven:focus,
.form-control.input-focus.crven {
    border-color: #D32F2F
}

.card {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .15)
}

.card__content {
    padding: 15px;
    font-size: 14px;
    line-height: 22px;
    transition: background-color .5s ease-out
}

.card__content p:last-child {
    margin-bottom: 0
}

.card__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    transition: color .5s ease-out
}

.card__title a {
    color: #3a404d;
    text-decoration: none
}

.card__title a:focus,
.card__title a:hover {
    color: #2b98eb;
    text-decoration: none
}

.glossary__nav__item.active a {
    color: #FFF;
    background-color: #2b98eb
}

.glossary__nav__item a {
    width: 50px;
    font-size: 16px;
    color: #3a404d;
    text-decoration: none;
    text-align: center;
    display: block
}

.glossary__nav__item a:focus,
.glossary__nav__item a:hover {
    color: #FFF;
    background-color: #2b98eb
}

#kupi.crven a {
    color: #D32F2F
}

#kupi.crven a:hover {
    color: #ba1d1d;
    background-color: #fff
}

.crven a:focus,
.crven a:hover {
    background-color: #D32F2F
}

.glossary__nav__item a.card__content {
    padding: 13px 10px;
    margin-bottom: 5px;
    border-radius: 3px
}

.glossary__search__form {
    max-width: 500px;
    position: relative;
    display: block;
    margin: auto
}

.glossary__search__form:before {
    content: "\f002";
    color: #aaa;
    font-family: FontAwesome;
    position: absolute;
    left: 15px;
    top: 12px;
    font-size: 18px
}

.glossary__search__form .form-control {
    padding-left: 40px
}

.glossary__results__row {
    overflow: hidden;
    margin-bottom: 40px;
    transition: all .4s ease-in-out
}

.glossary__results__row:last-child {
    margin-bottom: 0
}

.glossary__results__row.inactive {
    opacity: 0;
    height: 0;
    margin: 0;
    width: 100%
}

.glossary__results__term {
    color: #2b98eb
}

.glossary__results__term.crven {
    color: #D32F2F
}

.glossary__results__item {
    margin-bottom: 20px
}

.glossary__results__item div {
    display: block;
    text-decoration: none;
    color: #3a404d;
    transition: border-color .5s ease-out
}

.glossary__results__item div.card {
    border: 2px solid transparent
}

.glossary__results__item div:hover {
    border-color: #2b98eb
}

.glossary__results__item div:hover .card__title {
    color: #2b98eb
}

.glossary__results__item.crven div:hover {
    border-color: #D32F2F
}

.glossary__results__item.crven div:hover .card__title {
    color: #D32F2F
}

.title-style--three {
    margin-bottom: 15px;
    position: relative;
    padding-top: 20px;
    padding-bottom: 10px
}

.title-style--three:after {
    content: "";
    background: #2b98eb;
    width: 60px;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 30px
}

.title-style--three.crven:after {
    background: #D32F2F
}

.plava {
    color: #3F51B5
}

.crvena {
    color: #D32F2F
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #000;
    background: rgba(0, 0, 0, .7);
    width: 50px;
    height: 50px;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    z-index: 1000
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

#return-to-top:hover {
    background: rgba(0, 0, 0, .9)
}

#return-to-top:hover i {
    color: #fff;
    top: 5px
}

#uvod {
    text-align: justify;
    font-size: 1.5em;
    display: block;
    align-items: center;
    padding: 3%
}

.gumb:hover {
    background: #2b98eb;
    color: #fff;
    text-decoration: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none
}

.gumb.crven {
    color: #D32F2F
}

.gumb.crven:hover {
    background: #D32F2F;
    color: #fff
}

#menuToggle {
    display: block;
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none
}

#menuToggle span {
    display: block;
    width: 32px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #232323;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0;
    transition: transform .5s cubic-bezier(.77, .2, .05, 1), background .5s cubic-bezier(.77, .2, .05, 1), opacity .55s ease
}

#info-pod,
.modal {
    width: 100%;
    display: none
}

#menuToggle span:first-child {
    transform-origin: 0 0
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0 100%
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0) scale(.2, .2)
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px)
}

#menu {
    position: absolute;
    margin: -100px 0 0 -50px;
    padding-top: 125px;
    background-color: rgba(255, 255, 255, .6);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0 0;
    transform: translate(-100%, 0);
    transition: transform .5s cubic-bezier(.77, .2, .05, 1)
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
    color: #3F51B5
}

#menu.crven li {
    color: #D32F2F
}

#menuToggle input:checked~ul {
    transform: none
}

nav {
    display: none;
}

.glossary__nav__item.crven.active a {
    background: #D32F2F
}

.ant {
    text-decoration: underline
}

#info-pod {
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.modal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, .4);
    overflow-x: hidden
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: .4s;
    animation-name: animatetop;
    animation-duration: .4s
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.close {
    color: #000;
    float: inital;
    font-size: 28px;
    font-weight: 700;
    position: absolute;
    right: 1%;
    z-index: 100000000000000
}

.close:focus,
.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer
}

.modal-body {
    padding: 2px 16px
}

#tekst_natuknice {
    font-size: 18px
}

#teksta,
.teksta {
    display: none
}

.citati {
    font-family: sans-serif;
    padding-bottom: 10px
}

@media screen and (max-width:600px) {
    #menuToggle {
        top: 10px;
        left: 10px
    }
    #return-to-top {
        width: 30px;
        height: 30px
    }
    #return-to-top i {
        left: 8px;
        top: 5px;
        font-size: 14px
    }
    #return-to-top:hover i {
        color: #fff;
        top: 2px
    }
    .py-4 {
        display: initial
    }
    .modal {
        padding-top: 50px
    }
    .glossary__results__term {
        margin-left: 10px
    }
    .glossary__search__form {
        padding-left: 10px;
        padding-right: 10px
    }
}


/*  SECTIONS  */

.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}


/*  COLUMN SETUP  */

.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

.col:first-child {
    margin-left: 0;
}


/*  GROUPING  */

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
    /* For IE 6/7 */
}


/*  GRID OF TWO  */

.span_2_of_2 {
    width: 100%;
}

.span_1_of_2 {
    width: 49.2%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
    .col {
        margin: 1% 0 1% 0%;
    }
}

@media only screen and (max-width: 480px) {
    .span_2_of_2,
    .span_1_of_2 {
        width: 100%;
    }
}